<%- include('head.ejs') %>
<body>
  <header class="main-header">
    <h1>Enter a number to make a prediction</h1>
  </header>
  <main>
    <form action="/predict" class="prediction-form" method="POST">
      <fieldset>
        <legend>Make a Prediction</legend>
        <div class="form-control">
          <label for="inputValue">Enter a Number</label>
          <input type="number" id="inputValue" name="inputValue" />
        </div>
        <button class="btn" type="submit">Make Prediction</button>
      </fieldset>
    </form>
  </main>
</body>
<%- include('foot.ejs') %>
